/* Universal Sector */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* Element Sector: organized from top to bottom */
body {
    background-color: #d9dcd6;
}

a {
    color: #ffffff;
    text-decoration: none;
}

p {
    font-size: 16px;
}

/* Header */
header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

header h1 {
    display: inline-block;
    font-size: 48px;
}

header div ul li {
    display: inline-block;
    margin-left: 25px;
}

/* Footer */
footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

footer h2 {
    font-size: 20px;
}

/* Class Sectors: organized from top to bottom */
.navbar {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

.seo {
    color: #d9dcd6;
}

/* Feature */
.main-image {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

/* Section: Content
    Was able to merge multiple divisions after changing the class name */
.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

.details {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

.details-image {
    max-height: 200px;
    float: left;
    margin-right: 25px;
}

.details-image-2 {
    max-height: 200px;
    float: right;
    margin-left: 25px;
}

.details h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

/* Section: Benefits
    Was able to merge multiple divisions after changing the class name */
.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

.business {
    margin-bottom: 32px;
    color: #ffffff;
}

.business h3 {
    margin-bottom: 10px;
    text-align: center;
}

.business img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}